// BEGIN COLOR
$color-white: #fff;

$color-primary: #ec5252;
$color-primary-dark: #992337;

$color-secondary: #686f7a;
$color-secondary-light: #29303b;
$color-secondary-dark: #505763;

$color-nevada: #686f7a;

$color-grey-dark: rgb(138, 146, 163);

$color-link: #007791;
$color-link-hover: #003845;

$color-border: #e8e9eb;
// END COLOR
