// Begin Color
$color-white: #fff;

$color-primary: rgb(236, 82, 82);
$color-primary-dark: #992337;

$color-secondary: #686f7a;
$color-secondary-light: #29303b;
$color-secondary-dark: #505763;

$color-grey-dark: rgb(138, 146, 163);
// End Color
