// BEGIN TEXT COLOR
.text-nevada {
  color: $color-nevada;
}
// END TEXT COLOR

// BEGIN TEXT SIZE
.fs-13 {
  font-size: 1.3rem;
  line-height: 1.8rem;
}
// END TEXT SIZE

// BEGIN TEXT WEIGHT
.fw-700 {
  font-weight: 700;
}
// END TEXT WEIGHT
